<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ComputerVisionSubscriptionKey" value=""/>
		<add key="ComputerVisionEndpoint" value=""/>
		<add key="AzureOpenAISubscriptionKey" value=""/>
		<add key="AzureOpenAIEndpoint" value=""/>
		<add key="AzureOpenAIModel" value=""/>
		<add key="WaniKaniAPIKey" value=""/>
	</appSettings>
</configuration>
